*{
    margin: 0;
    padding: 0;
}


html {
    font-size: 16px;
    color: #00064D;
}


body {
    font-family: Inter-Regular;
}


a {
    color: #00064D;
}


@font-face {
    font-family: Inter-Regular;
    src: url(../fonts/Inter_18pt-Regular.ttf);
}


@font-face {
    font-family: Inter-Medium;
    src: url(../fonts/Inter_18pt-Medium.ttf);
}


@font-face {
    font-family: Inter-SemiBold;
    src: url(../fonts/Inter_18pt-SemiBold.ttf);
}


@font-face {
    font-family: VIPROMAN-Regular;
    src: url(../fonts/VIPRoman-Regular.otf);
}



/* Header */

header{
    background-color: #FBDC9C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vh 7.5vw 2vh 7.5vw;
    font-family: Inter-Medium;
}


.header__logo a {
    font-size: 1.75rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    text-decoration: none;
    transition-duration: 0.25s;
    font-family: VIPROMAN-Regular;
    font-weight: bolder;
}


.header__logo a:hover {
    color: #604239;
}


.header__logo a img{
    width: 4rem;
    height: 4rem;
}



.header__menu nav ul{
    font-size: 1.25rem;
    display: flex;
    gap: 2.5vw;
    list-style: none;
}


.header__menu nav ul a{
    text-decoration: none;
    transition-duration: 0.25s;
}


.header__menu nav ul a:hover{
    color: #604239;
    text-decoration: underline;
}


/*   Main   */


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vh 5vw 0vh 5vw;
    gap: 2vw;
}


.gallery {
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 1vh;
    column-gap: 1vw;
}


.gallery img {
    width: 100%;
}



footer {
    background-color: #604239;
    color: #F8C867;
    margin-top: 10vh;
    padding: 7vh 10vw 5vh 10vw;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}


.footer__top{
    display: flex;
    justify-content: space-between;
    align-items: end;
}


.footer__logo {
    display: flex;
    align-items: center;
    gap: 0.5vw;
}


footer nav{
    display: flex;
    flex-direction: column;
    gap: 3vh;
}



.footer__nav{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}


footer nav a {
    color: #F8C867;
    text-decoration: none;
}


.logo__text {
    font-family: VIPROMAN-Regular;
    font-weight: bolder;
}


footer nav a img{
    width: 48px;
}


.footer__bottom {
    text-align: center;
}


.footer__right {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}



@media (max-width: 768px) {
    html {
        width: 100%;
    }


    main{
    gap: 10vh;
}


    header{
        flex-direction: column;
        gap: 2.5vh;
    }


    .header__menu nav ul{
        flex-direction: column;
        gap: 0.75vh;
    }


    footer {
        flex-direction: column;
        padding: 7vh 3vw 5vh 3vw;
    }


    .footer__top {
        flex-direction: column;
        gap: 5vh;
        align-items: center;
    }
}