*{
    margin: 0;
    padding: 0;
}


html {
    font-size: 16px;
    color: #00064D;
}


body {
    font-family: Inter-Regular;
}


a {
    color: #00064D;
}


@font-face {
    font-family: Inter-Regular;
    src: url(../fonts/Inter_18pt-Regular.ttf);
}


@font-face {
    font-family: Inter-Medium;
    src: url(../fonts/Inter_18pt-Medium.ttf);
}


@font-face {
    font-family: Inter-SemiBold;
    src: url(../fonts/Inter_18pt-SemiBold.ttf);
}



/* Header */

header{
    height: 100px;
    background-color: #FBDC9C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 150px;
    font-family: Inter-Medium;
}


.header__logo a {
    font-size: 1.75rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    text-decoration: none;
    transition-duration: 0.25s;
}


.header__logo a:hover {
    color: #604239;
}


.header__logo a img{
    width: 64px;
    height: 64px;
}



.header__menu nav ul{
    font-size: 1.25rem;
    display: flex;
    gap: 50px;
    list-style: none;
}


.header__menu nav ul a{
    text-decoration: none;
    transition-duration: 0.25s;
}


.header__menu nav ul a:hover{
    color: #604239;
    text-decoration: underline;
}


main{
    display: flex;
    flex-direction: column;
    gap: 250px;
}


/* Intro */


.intro{
    background-image: url(../img/intro_bg.svg);
    padding: 150px 150px 329px 150px;
    display: flex;
    justify-content: space-between;
}


.intro__text {
    width: 530px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}


.intro__text div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.intro__text h1{
    font-family: Inter-SemiBold;
    font-size: 4rem;
}


.intro__text h2{
    font-family: Inter-Medium;
    font-size: 2.25rem;
}


.intro__text p{
    font-family: Inter-Regular;
    font-size: 1.5rem;
}


.intro__image img {
    width: 830px;
    height: 490px
}

/* Products */

.products {
    display: flex;
    flex-direction: column;
    gap: 50px;
}


.products h1{
    font-family: Inter-SemiBold;
    font-size: 2.5rem;
    text-align: center;
}


.products_carousel{
    margin: 0px 150px 0px 150px;
}


.products_carousel .slick-slide {
    margin: 0 5px;
}


.products_carousel div {
    text-align: center;
}


.products_carousel div p{
    font-size: 24px;
    margin-top: 10px;
}


.products_carousel div img {
    width: 523px;
}


.slick-prev:before, .slick-next:before {
    color: #604239 !important;
}


/* About */


.about {
    padding: 50px 0px 0px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
}


.about__cards {
    display: flex;
    gap: 24px;
    justify-content: center;
    /* background-image: url(../img/background.webp); */
    background-color: #F8C867;
    border-top: 25px solid #F8C867;
    border-bottom: 25px solid #F8C867;
    padding: 50px 0px 50px 0px;
}


.about__card {
    background-color: #F7F7F7;
    padding: 75px 25px 150px 25px;
    transition-duration: 0.25s;
}


.about__card div{
    margin-top: 25px;
}


.about__card div p{
    margin-top: 10px;
    width: 400px;
}


.about__card:hover{
    background-color: #F7E7C7;
    color: #604239;
}


/* Contacts */


.contacts{
    display: flex;
    flex-direction: column;
    gap: 50px;
}


.contacts h1{
    text-align: center;
}


.contacts__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
}


.address {
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: #F8C867;
    color: #604239;
    /* padding: 10px 10px 10px 10px; */
    box-shadow: 0px 2px 8px #C5C5C5;
}


.address h2 {
    margin-top: 1em;
    text-align: center;
}


.address hr{
    height: 2px;
    background-color: #F7F7F7;
    border: none;
}


.address ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #604239;
    list-style: none;
    padding: 10px 10px 10px 10px;
}


.address ul hr{
    height: 1px;
    background-color: #604239;
    border: none
}


.contacts__content {
    margin: 0px 150px 0px 150px;
    display: flex;
    justify-content: space-between;
}


.contacts__block {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #F8C867;
    padding: 1em 0em 1em 0em;
}


.contacts__block h2{
    color: #604239;
    text-align: center;
    margin: 1em 0px 0px 0px;
}


.contacts__block hr{
    height: 2px;
    background-color: #F7F7F7;
    border: none;
}


.contacts__container {
    display: flex;
    gap: 15px;
    justify-content: center;
}


.contacts__button {
    display: block;
    width: 64px;
    height: 64px;
    box-shadow: 0px 2px 8px #C5C5C5;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: #F7F7F7;
    border-color: #604239;
}


.contacts__button:hover {
    border: 2px solid #604239;
    box-shadow: 0px 0px 5px #604239;
    transition-duration: 0.1s;
}


.reviews {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}



@media screen {
    
}