*{
    margin: 0;
    padding: 0;
}


html {
    font-size: 16px;
    color: #00064D;
}


body {
    font-family: Inter-Regular;
}


a {
    color: #00064D;
}


@font-face {
    font-family: Inter-Regular;
    src: url(../fonts/Inter_18pt-Regular.ttf);
}


@font-face {
    font-family: Inter-Medium;
    src: url(../fonts/Inter_18pt-Medium.ttf);
}


@font-face {
    font-family: Inter-SemiBold;
    src: url(../fonts/Inter_18pt-SemiBold.ttf);
}


@font-face {
    font-family: VIPROMAN-Regular;
    src: url(../fonts/VIPRoman-Regular.otf);
}



/* Header */

header{
    background-color: #FBDC9C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vh 7.5vw 2vh 7.5vw;
    font-family: Inter-Medium;
}


.header__logo a {
    font-size: 1.75rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    text-decoration: none;
    transition-duration: 0.25s;
    font-family: VIPROMAN-Regular;
    font-weight: bolder;
}


.header__logo a:hover {
    color: #604239;
}


.header__logo a img{
    width: 4rem;
    height: 4rem;
}



.header__menu nav ul{
    font-size: 1.25rem;
    display: flex;
    gap: 2.5vw;
    list-style: none;
}


.header__menu nav ul a{
    text-decoration: none;
    transition-duration: 0.25s;
}


.header__menu nav ul a:hover{
    color: #604239;
    text-decoration: underline;
}


main{
    display: flex;
    flex-direction: column;
    gap: 25vh;
}


/* Intro */


.intro{
    background-image: url(../img/intro_bg.svg);
    padding: 15vh 7.5vw 30vh 7.5vw;
    display: flex;
    justify-content: space-between;
    gap: 3vw;
}


.intro__text {
    width: calc(100% - 15vw);
    display: flex;
    flex-direction: column;
    gap: 50px;
}


.intro__text div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.intro__text h1{
    font-family: Inter-SemiBold;
    font-size: clamp(1rem, 10vw, 4rem);
}


.intro__text h2{
    font-family: Inter-Medium;
    font-size: 2.25rem;
}


.intro__text p{
    font-family: Inter-Regular;
    font-size: 1.5rem;
}


.intro__image{
    width: 100%;
}


.intro__image img {
    width: 100%;
    height: auto;
}

/* Products */

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}


.products h1{
    font-family: Inter-SemiBold;
    font-size: 2.5rem;
    text-align: center;
}


.products_carousel{
    margin: 0px auto;
    width: 90%;
}


.products_carousel .slick-slide {
    margin: 0 0.5vw;
}


.products_carousel div {
    text-align: center;
}


.products_carousel div p{
    font-size: 24px;
    margin-top: 10px;
}


.products_carousel div img {
    width: 100%;
    border-radius: 10px;
}


.slick-prev:before, .slick-next:before {
    color: #604239 !important;
}


/* About */


.about {
    padding: 50px 0px 0px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.about h1{
    padding-bottom: 25px;
}


.line-top {
    height: 0.75vh;
    background-color: #F8C867;
}


.line-bottom {
    height: 0.75vh;
    background-color: #FBDC9C;
}


.about__cards {
    display: flex;
    gap: 36px;
    justify-content: center;
    background-image: linear-gradient(to bottom, #F8C867, #FBDC9C);
    padding: 4vw 13vw 4vw 13vw;
}


.about__card {
    background-color: #F7F7F7;
    padding: 4vw 1.5vw 150px 1.5vw;
    transition-duration: 0.25s;
    border-radius: 25px;
    box-shadow: 0px 2px 8px #C5C5C5;
}


.about__card div{
    margin-top: 25px;
}


.about__card div p{
    margin-top: 10px;
    width: auto;
}


.about__card:hover{
    background-color: #F7E7C7;
    color: #604239;
}


/* Contacts */


.contacts{
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-image: url(../img/background2.svg);
    background-repeat: no-repeat;
}


.contacts h1{
    text-align: center;
    background-color: white;
    padding: 5px 5px 5px 5px;
}


.contacts__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
    background-image: linear-gradient(to bottom right, #F8C867, #FBDC9C);
}


.address {
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: #604239;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
}


.address h2 {
    margin-top: 1em;
    text-align: center;
}


.address hr{
    height: 2px;
    background-color: #F7F7F7;
    border: none;
}


.address ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #604239;
    list-style: none;
    padding: 10px 10px 10px 10px;
}


.address ul hr{
    height: 1px;
    background-color: #604239;
    border: none
}


.contacts__content {
    margin: 0px 13vw 0px 13vw;
    display: flex;
    justify-content: space-between;
    gap: 5vw;
    align-items: flex-start;
}


.contacts__left {
    border: 1px white solid;
    border-radius: 15px;
}


.contacts__block {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 1em 0em 1em 0em;
}


.contacts__block h2{
    color: #604239;
    text-align: center;
    margin: 1em 0px 0px 0px;
}


.contacts__block hr{
    height: 2px;
    background-color: #F7F7F7;
    border: none;
}


.contacts__container {
    display: flex;
    gap: 15px;
    justify-content: center;
}


.contacts__button {
    display: block;
    width: 64px;
    height: 64px;
    box-shadow: 0px 2px 8px #C5C5C5;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: #F7F7F7;
    border-color: #604239;
}


.contacts__button:hover {
    border: 2px solid #604239;
    box-shadow: 0px 0px 5px #604239;
    transition-duration: 0.1s;
}


.reviews {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}


.reviews-iframe {
    width: 700px;
    height: 800px;
    overflow: hidden;
    position: relative;
}


footer {
    background-color: #604239;
    color: #F8C867;
    margin-top: 10vh;
    padding: 7vh 10vw 5vh 10vw;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}


.footer__top{
    display: flex;
    justify-content: space-between;
    align-items: end;
}


.footer__logo {
    display: flex;
    align-items: center;
    gap: 0.5vw;
}


footer nav{
    display: flex;
    flex-direction: column;
    gap: 3vh;
}



.footer__nav{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}


footer nav a {
    color: #F8C867;
    text-decoration: none;
}


.logo__text {
    font-family: VIPROMAN-Regular;
    font-weight: bolder;
}


footer nav a img{
    width: 48px;
}


.footer__bottom {
    text-align: center;
}


.footer__right {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}



@media (max-width: 768px) {
    html {
        width: 100%;
    }


    main{
    gap: 10vh;
}


    header{
        flex-direction: column;
        gap: 2.5vh;
    }


    .header__menu nav ul{
        flex-direction: column;
        gap: 0.75vh;
    }


    .intro {
        flex-direction: column;
        gap: 5vh;
    }


    .intro__text {
        width: 100%;
    }


    .intro__image {
        width: 100%;
    }


    .products_carousel{
        margin: 0vh 2vw 0vh 2vw;
    }
    

    .products_carousel div img {
        width: 80%;
        max-width: 300px;
        margin: 0 auto;
    }


    .about__cards {
        flex-direction: column;
        align-items: center;
        padding: 5vh 0vw 5vh 0vw;
    }


    .about__card {
        padding: 4vh 3vw 4vh 3vw;
        width: 80%;
    }


    .contacts div{
        gap: 5vh;
    }

    .contacts__content {
        flex-direction: column;
    }


    .yandex-map {
        width: 100%;
        padding: 0;
    }


    .reviews-iframe {
        width: 95%;
    }


    footer {
        flex-direction: column;
        padding: 7vh 3vw 5vh 3vw;
    }


    .footer__top {
        flex-direction: column;
        gap: 5vh;
        align-items: center;
    }
}